<div class="country-card">
    <img
        src={{this.flags.svg}}
        alt="country flag"
        width="400"
    />
    <h2 class="country-name">{{this.name.official}}</h2>

</div>
<p class="country-text">
    Cтолиця: <span class="country-date">{{this.capital}}</span>
</p>
<p class="country-text">
    Населення: <span class="country-date">{{this.population}}</span>
</p>
<p class="country-text">
   Мова: <span class="country-date">{{this.languages}}</span>
</p>
